body {
  margin: 0;
  overflow: hidden; /* Deshabilita el scroll */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura igual al viewport */
  background: linear-gradient(135deg, #ff9a9e 0%, #dba191 55%, #d857b3 100%);
  font-family: 'Pacifico', cursive; /* Fuente más estilizada */
}

.container {
  text-align: center; /* Centra el contenido del texto */
}

h1 {
  margin: 0 0 20px 0; /* Espaciado solo debajo del título */
  font-size: 3rem; /* Tamaño más grande */
  color: rgb(202, 77, 125);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar énfasis */
  letter-spacing: 3px; /* Espaciado entre letras */
}

.juego {
  display: flex;
  flex-direction: column; /* Contenedor en columna para incluir texto y cartas */
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo con opacidad */
  border-radius: 20px; /* Bordes redondeados más pronunciados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.cartas {
  display: grid;
  grid-template-columns: repeat(4, 120px); /* Cartas más pequeñas */
  grid-gap: 20px;
  padding: 10px;
  justify-items: center;
}

.carta {
  width: 120px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  position: relative; /* Necesario para contener las caras */
  background: linear-gradient(135deg, #f7c1e0, #f79c42); /* Degradado suave que combina con el fondo */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carta:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Efecto hover más pronunciado */
}

.carta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.6s ease-in-out; /* Animación de giro */
}

.carta .frontal {
  background-color: #f7f7f7;
}

.carta .trasera {
  background-color: #ffcc00;
  transform: rotateY(180deg); /* Inicialmente girada 180 grados */
}

.carta.girada .frontal {
  transform: rotateY(180deg); /* Gira la frontal a 180 grados */
}

.carta.girada .trasera {
  transform: rotateY(0); /* Gira la trasera a su posición original */
}

.carta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
